<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./CSS/stylem.css" class="stylechange">
   <title>VOOK</title>
</head>
<body>
  <div class="body">
    <h1>0</h1>
    <button onclick="reset()">إعادة</button>
  </div>
</body>
<script src="./JS/script.js"></script>
<script>
  setInterval(() => {
    fetch("/data")
  .then(response => response.json())
  .then(data => {
    document.querySelector("h1").textContent = data.Number
  })
  },100)
  function reset() {
        fetch("/reset", {
            method:"POST",
            headers: {"Content-Type":"application/json"},
        })
        .then(response => response.json())
        .then(data => {
            document.querySelector("h1").textContent = "0"
        })
    }
</script>

</html>
